/* 覆盖页脚背景颜色 */
#footer {
    background: transparent !important; /* 移除页脚背景颜色 */
    box-shadow: none; /* 可选：移除页脚阴影 */
}


/* Fiveth: 修改加载动画的图片源，以及背景颜色 */
.loading-bg{
  background: #374151 !important;
}
.loading-img {
  background: url(/img/tx.jpg) no-repeat center center;
  background-size: cover;
}


#page-header #post-info > *{
    display: flex;
    justify-content: center;
}

#page-header #page-site-info{
  top: 120px !important
}